{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>Все посты категории {{category.name}} :</h1>

{% if not subscriber %}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}" class "btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}


<hr>
{% if category_news_list %}
<table>
    <tr>
        <td>№</td>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст</td>
        <td>Категории</td>
    </tr>
    {% for post in category_news_list %}
    <tr>
        <td>{{post.id}}</td>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.some_datetime|date:'d M Y' }}</td>
        <td>{{ post.text|truncatechars:21|censor }}</td>
        <td>
            {% for cat in post.category.all%}
                <td>{{ cat.name }}</td>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Постов нет!</h2>
{% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}