{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>Все посты:</h1>

<hr>
{% if posts %}
<table>
    <tr>
        <td>№</td>
        <td>Заголовок</td>
        <td>Категории</td>
        <td>Дата публикации</td>
        <td>Текст</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            <a href="{% url post/<int:pk>%}">{{pk}}</a>
        </td>
        <td>{{ post.title|censor }}</td>
        <td>{{ post.some_datetime|date:'d M Y' }}</td>
        <td>{{ post.text|truncatechars:21|censor }}</td>
        <td>
            {% for category in post.category.all%}
                    <a href="{% url 'category_list ' category.id %}">{{ category }}</a>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Постов нет!</h2>
{% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}